@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html {
  direction: rtl;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
}

body {
  font-family: var(--font-iransans); /* پیش‌فرض: ایران‌سنس */
}
