@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html {
  direction: rtl;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
}

body {
  font-family: var(--font-iransans);
  background-color: #f1f2f3; /* پیش‌فرض: ایران‌سنس */
}
.title-kalameh {
  font-family: var(--font-kalameh);
}
